:root {
    --main-text-color: #4A4A50;
  }
  
  html {
    color: var(--main-text-color);
    font-size: 0.9rem;
  }
  
  body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  button {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    padding: 0 40px 0 40px;
    letter-spacing: 2px;
    border: solid 1px #b8b8b8;
    height: 48px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    outline:none;
  }

  section {
      width: 100%;
  }