.validation-section {
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.validation-icon {
    width: 3rem;
    height: auto;
}


.validation-section > .title {
    font-size: 25px;
    color: #0F265C;;
}
.validation-section > .description {
    text-align: center;
}

.validation-section .inputs > .input-secret {
    width: 45px;
    height: 45px;
    margin: 4px;
    text-align: center;
    font-size: medium;
}